

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,sans-serif
}

ul{
    list-style:none;
}
a{
    color: white;
    text-decoration: none;
}

.firstSection{
    background: #1F2937;
    padding: 0 150px;
    padding-bottom:150px;
}
.firstSection header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 0;
}
header .logo{
    font-weight: 800;
    font-size: 24px;
    color: #F9FaF8;
}
header ul{
    display:flex;
    align-items:center;
    gap:20px;
    color:#fff;
}
header ul li a {
    color :#E5E7EB;
}
.firstSection .landing{
    display:flex;
    gap: 70px;
    margin-top: 100px;
}
.landing .text{
    flex: 1 200px;
}
.landing h1{
    font-size: 48px;
    font-weight: 900;
    color:#F9FaF8;
}
.landing .text p{
    font-size: 18px;
    color:#E5E7EB;
}
.text button{
    border:none;
    background: #3882F6;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px 0;
    font-weight: 700;
    font-size: 16px
    
}
.landing .image{
    flex: 2 ;
    background-image: url('images/landing.jpg');
    background-size: cover;
    height: 300px;
}


.secondSection{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 200px 100px;
    flex-direction: column;
    gap: 50px;
}
.secondSection .title{
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
}
.secondSection .cards{
    display:flex;
    align-items:center;
    gap: 60px;
}
.cards .card{
    text-align:center;
}

.cards .card .image{
    border: solid 1px #000;
    min-height: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: url("images/randomInformation.jpg");
    background-size: cover;
}